.navigation {
  background-color: #cbe3e3;
  color: #2a7472;

  .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: #a6d1d0;
    }
  }

  a {
    color: #2a7472;

    &.active {
      font-weight: bold;
    }
  }
}