.footer {
  height: 500px;
  background: url("./footer_background.png") bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  h3 {
    color: black;
    margin-bottom: 2rem;
  }
}

.location-name {
  font-weight: 800;
}
