.footer {
  height: 500px;
  background: url("./footer_background.png") bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #60bfbc;

  pointer-events: none;
  z-index: -1;

  a {
    z-index: 99999;
    color: #60bfbc;
  }

  .contactInfo a {
    color: #60bfbc;
  }

  .container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  h3 {
    color: #124f4d;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.location-name {
  font-weight: 800;
}
